#cabecera1 {
    background-image: url(../img/logo.jpg);
    height: 0;
    padding-top: 100px;
    padding: 0; /* remove any pre-existing padding, just in case */
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;

}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}