<!-- edificaciones.html -->

<div class="text-center col-md-9">

    <!--    <h2>Art&iacute;culos sobre Eficiencia Energ&eacute;tica en Edifiaciones</h2>
        <p>{{ message}}</p>-->
    <div ng-if="!idTip"> <div ng-include src="'pages/tipsEficienciaTodos.html'"></div></div>
    <div ng-if="idTip"> <div ng-include src="'pages/tipEficiencia.html'"></div></div>
</div>

<div id="lateral" class="col-md-3" ng-model="lateral">
    <div ng-include src="'pages/miembros.html'"></div>
    <!--<div ng-include src="'pages/pregunta.html'"></div>-->

</div>
